body {
  background-color: gray;
  text-align: center;
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#root {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 5rem;
}

.show {
  display: grid;
  background-color: #fff;
  border-radius: 15px;
}
.show-title-container {
  border: 1px solid #000;
  border-radius: 15px;
}

.show-title {
  font-weight: 600;
  font-size: 1.5em;
}

.show-thumbnail {
  margin: 2rem 5rem 0;
}

.show-description {
  color: rgb(97, 97, 97);
  margin: 1rem 3rem;
}
